#cointernerSeance
{
    float: left;
}

#formLogin
{
    float: left;
    width: 20%;
    margin: 2%;
    margin-top: 0.5%;
}

input[type=text],
    [type=password]
{
    margin: 10px auto;
    display: block;
}

input[type=submit]
{
    margin-right: 3%;
}

#conteinerButton
{
    width: 95%;
    margin: auto;
}