#formLogin
{
    float: left;
    width: 20%;
    margin: 2%;
    margin-top: 0.5%;
}

input[type=text],
    [type=password]
{
    margin: 10px auto;
    display: block;
}

input[type=submit],
    [type=button]
{
    display: block;
    margin: 1% auto;
}

#conteinerButton
{
    width: 95%;
    margin: auto;
}