#cointernerSeance
{
    float: left;
}

#formLogin
{
    float: left;
    margin: 2%;
}

input[type=text],
    [type=password]
{
    margin: 10px;
    display: block;
}

input[type=submit]
{
    display: block;
    margin: auto;
}