#menuHead {
    float: left;
    margin: 1%;
    padding: 0;
    background-color: #DDDDDD;
}

ol
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol > li
{
    height: 40px;
    width: 250px;
    cursor: pointer;
    text-align: center;
    line-height: 250%;
}

ol > li:hover
{
    background-color: #AAAAAA;
}

ul
{
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol > li > ul > li
{
    width: 240px;
    background-color: #999999;
    margin: auto;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li:hover
{
    background-color: #CCCCCC;
}

ol > li > ul > li a
{
    text-decoration: none;
    color: #000000;
}