#conteiner
{
    margin: 2%;
    float: left;
}

.input
{
    margin: 10px;
}

input
{
    display: block;
    margin: 1%;
    margin-bottom: 0;
}

input[type=submit]
{
    margin-left: 3%;
}

input[type=checkbox]
{
    margin-right: 0.5%;
    display: inline-block;
}