#cointerner
{
    width: 72%;
}

.seance
{
    border: 1px solid #000000;
    margin: 1%;
}

.poster
{
    float: left;
    margin: 1%;
    width: 100px;
}

.poster > img
{
    height: 100px;
    display: block;
    margin: auto;
}

.film
{
    float: left;
    margin: 3%;
    margin-left: 1.5%;
}

.titleFilm
{
    font-size: 150%;
}

.describeFilm
{
    font-size: 70%;
}

.describe
{
    margin: 1%;
    margin-left: 2%;
}

.dataSeance
{
    margin: 1%;
}

.button
{
    float: right;
    margin: 2%;
    margin-top: 5%;
}

#left
{
    display: inline-block;
    text-align: right;
    margin: 1%;
    width: 48%;
}

#right
{
    display: inline-block;
    text-align: left;
    width: 48%;
}