body
{
    margin: 0;
}

form
{
    margin: 1%;
}

.seat
{
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 15px;
    cursor: pointer;
    background-color: #42EEF4;
}

input[type=checkbox]
{
    display: none;
}

input[type=submit]
{
    margin: 1%;
}

.seat :hover {
    background-color: #0000FF;;
}